body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: rgb(23, 23, 23);
  flex-direction: column;
}

.horizontal-navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.horizontal-navbar h1 {
  color: rgb(202, 160, 123);
}

.horizontal-navbar ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.horizontal-navbar ul li {
  margin: 0 15px;
}

.horizontal-navbar ul li a {
  text-decoration: none;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.5);
}

.horizontal-navbar ul li a.dashboard,
.horizontal-navbar ul li a.home,
.horizontal-navbar ul li a.shop,
.horizontal-navbar ul li a.about,
.horizontal-navbar ul li a.contact {
  color: rgba(255, 255, 255, 0.5);
}

.horizontal-navbar ul li a:hover {
  background-color: #575757;
  color: #ffffff;
}

.horizontal-navbar ul li a:visited,
.horizontal-navbar ul li a:active {
  color: rgba(255, 255, 255, 0.5);
}

#contact-container {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 20px;
}

#map {
  min-height: 50vh;
  min-width: 80vh;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 30px;
}

#judul {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

#input-group {
  size: 20px;
  padding: 10px;
}
.p {
  font-size: 1rem;
  padding: 0 7%;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

#text {
  width: 100vh;
  height: 2rem;
  margin: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#icon {
  padding: 0;
  margin: 0;
  stroke: #ffffff;
}

#button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 45px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(202, 160, 123);
  color: #ffffff;
}
