/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #050709;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 35px;
    height: 35px;
    margin: 0 auto;
    display: block;
}

.login-container {
    background-image: linear-gradient(155deg, #60400a, #8b6f32);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #f4f4f4;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #f4f4f4;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    padding: 10px;
    background-image: linear-gradient(155deg, #EFD294, #8b6f32);
    color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-image: linear-gradient(155deg, #eee5d0, #EFD294);
    color: #67422C;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
    color: #241811;
}

.signup-link a {
        color: #EFD294;
        text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}